* {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container{
  overflow-x: hidden;
}

/* added to prevent bg scrolling while card-overlay is active in NotesCard by 
   replacing 'overflow-x:hidden' from * to .container and adding .no-scoll to body
*/
.no-scroll {
  overflow: hidden;
  height: 100%; 
}

.introduction {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #f3f2f1;
  color:#000000;
}

.introduction.darkmode {
  background-color: #1c1f24;
  color: #9e9d92;
}

.typewriter {
  display: inline-block;
}

.typewriter h1{
  font-size: 4rem;
  font-weight: 300;
  overflow-y: hidden;
}

.typewriter p {
  font-size: 1.1rem;
  min-height: 2rem;
  visibility: visible;
  margin-top: 0.5rem;
}

/* The arrow button */
.arrow-container {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: hidden;
}

.arrow {
  display: inline-block;
  font-size: 2rem;
  /* color: #242424; */
  color: inherit;
  cursor: pointer;
  animation: swipeDown 1.5s infinite;
}

@keyframes swipeDown {
  0% {
    transform: translateY(0); /* Start in the original position */
  }
  50% {
    transform: translateY(10px); /* Move down 15px */
  }
  100% {
    transform: translateY(0); /* Move back up */
  }
}

.notesSection-container {
  display: flex;
  flex:1;
  width: 100vw;
  height: 100vh;  
  text-align: center;
  background-color:#f3f2f1;
}

.notesSection-container.dark {
  background-color: #1c1f24;
  color: #9e9d92;
}

.sidebar {
  width: 4.5rem;
  padding: 0.8rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 4rem;
}

.notesSection-container.dark .sidebar {
  background-color: #9e9d92;
}

.sidebar button{
  background-color: transparent;
  border: none;
  transition: transform .3s ease;
}

.sidebar button:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f3f2f1;
  padding: 0.5rem 0;
}

.main-content.dark {
  background-color: #1c1f24;
}

.navbar {
  height: 3rem;
  padding: 0.3rem 1rem;
  position: relative;
}

.main-content.dark .navbar input{
  background-color: #9e9d92;
}

.main-content.dark .navbar .navbar-buttons button{
  color: #9e9d92;
}

.main-content.dark .navbar input::placeholder{
  color: #000000;
}

.navbar input {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 2rem;
  width: 25%;
  border: 1px solid #b7a99490;
  border-radius: 1.5rem;
  padding: 0.25rem;
  text-align:center;
  font-size: 0.9rem;
}

.navbar-buttons{
  position: absolute;
  right: 2rem;
  top:50%;
  transform: translate(0, -50%);
  overflow-y: hidden;
  display: flex;
  justify-content: space-evenly;
}

.navbar-buttons  button{
  margin:0 1.5rem;
  border:none;
  background-color: transparent;
  transition: transform .3s ease;
  flex:1;
}

.navbar-buttons button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.note-area {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}

.add-notes-button button{
  position: absolute;
  bottom: 65px;
  right: 40px;   
  width:40px;
  height:40px;  
  border-radius: 50%;  
  border: none;          
  padding:5px; 
  display: flex;
  justify-content: center;
  align-items: center;     
  cursor: pointer;        
  transition: background-color 0.3s ease;
}

.clear-all-button button {
  position: absolute;
  bottom: 15px;
  right: 40px;   
  width:40px;
  height:40px;  
  border-radius: 50%;  
  border: none;          
  padding:5px; 
  display: flex;
  justify-content: center;
  align-items: center;     
  cursor: pointer;        
  transition: background-color 0.3s ease;
}

.main-content.dark .add-notes-button button {
  background-color: #9e9d92;
  color: #000000;
}

.add-notes-button button:hover {
  background-color: #1c1f24;
  color: #9e9d92;
}

.main-content.dark .add-notes-button button:hover{
  background-color: #ecdec6;
  color: #000000;
}

.add-notes-button button:active {
  transform: scale(0.95); /* Button shrinks slightly when clicked */
}

.card-container {
  height:auto;
  width: 95%;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-element {
  height:15rem;
  width:15rem;
  border-radius: 1.5rem;
  background-color: #df9160;
  color:#000000;
  padding: 1.5rem;
  margin:1rem;  
  text-align: left;
  position: relative; 
  overflow: hidden;
  transition: all 0.4s ease;
  }

.hover-card-content {
  font-size: 1.15rem;
  border-radius: 1.5rem;
  position: absolute;
  bottom: -100%;
  left: 10px;
  right: 10px;
  height: 75%;
  background-color: #2c2c2c;
  color:#f9f1e7;
  transition: bottom 0.4s ease;
}

.card-element-date{
  position: absolute;
  left: 1.5rem;
  bottom: 1rem;
  font-size: 1rem;
  font-weight:450;
}
  
.card-element:hover .hover-card-content {
  bottom: 10px;
}

.card-element-content{
  font-size: 1.15rem;
  font-weight:450;
}

.hover-card-content p {
  margin: 1rem; 
}


html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .card-element {
    height: 8rem; /* Reduce card height */
    width: 8rem; /* Reduce card width */
    margin: 0.5rem; /* Reduce margin */
  }
}

@media (max-width: 480px) {
  .navbar input{
    width:70%;
    height:0.5rem;
  }
  .navbar {
    flex-direction: column; /* Stack navbar items vertically */
    align-items: center;
  }

  .navbar-buttons {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    position: static; /* Change position for smaller screens */
    margin-top: 0.5rem; /* Add some spacing */
  }
}

/* Popover overlay that covers the entire screen and adds a blur */
.card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 20, 20, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.notes-card {
  border-radius: 1.5rem;
  background-color: #df9160;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 80vh;
  width: 65vw;
  text-align: left;
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.notes-card.active {
  transform: translateY(0);
  opacity: 1;
}

.notes-card-title {
  margin-bottom: 1rem;
}

.notes-card-title input,
.notes-card-title p {
  width: 90%;
  padding: 0.3rem;
  font-size: 1.75rem;
  font-weight: 500;
  outline: none;
  background-color: transparent;
  border: none;
  color: #2b2929;
}

.notes-card-content {
  height: calc(100% - 4rem); /* Adjust based on your title height */
}

.notes-card-content textarea,
.notes-card-content p {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  color: #4c4444;
  padding: 0.3rem;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}

.notes-card .close-button,
.notes-card .delete-button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.notes-card .close-button {
  top: 0.6rem;
  right: 0.6rem;
}

.notes-card .delete-button {
  bottom: 0.6rem;
  right: 0.6rem;
}

.notes-card .close-button:hover,
.notes-card .delete-button:hover {
  transform: scale(1.1);
}