
* {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  color:#242424;
}


.introduction {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #dcd9d7;
}

.typewriter {
  display: inline-block;
}

.typewriter h1{
  font-size: 4rem;
  font-weight: 300;
  overflow-y: hidden;
}

.typewriter p {
  font-size: 1.1rem;
  min-height: 2rem;
  visibility: visible;
  margin-top: 0.5rem;
}

/* The arrow button */
.arrow-container {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: hidden;
}

.arrow {
  display: inline-block;
  font-size: 2rem;
  color: #242424;
  cursor: pointer;
  animation: swipeDown 1.5s infinite;
}

@keyframes swipeDown {
  0% {
    transform: translateY(0); /* Start in the original position */
  }
  50% {
    transform: translateY(10px); /* Move down 15px */
  }
  100% {
    transform: translateY(0); /* Move back up */
  }
}

.notesSection-container {
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
  background-color:#dcd9d7;
}

.navbar {
  height: 2.75rem;
  margin: 0.5rem;
  padding: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.4rem;
  overflow-y: hidden;
}

.nav-items ul{
  display: flex;
  gap: 1rem;  
  padding: 0;
  margin: 0;
}

.nav-items button{
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.65rem 1.5rem;
  background-color:#c4c2c1;
  color: #333;
  border-radius: 1.2rem;
  transition: all 0.3s ease;
}

.nav-items button:hover {
  background-color: #979594;
  color: #000000;
  cursor: pointer;
}

.nav-items button:focus {
  transform: translateY(0);
  box-shadow: none;
  color: #000000;
  background-color:#979594;
}

.main-content {
  display: flex;
  flex: 1;
  height:90.75%;
  margin-bottom:0.5rem;
}

.main-content h2{
  font-size: 1.75rem;
  font-weight: 500;
}

.sidebar {
  width: 15%;
  padding: 0.8rem;
  background-color: #c4c2c1;
  margin: 0 0.5rem;
  border-radius: 0.4rem;
}

.note-area {
  flex: 1;
  padding: 1rem;
  background-color: #c4c2c1;
  margin-right: 0.5rem;
  border-radius: 0.4rem;
}

html {
  scroll-behavior: smooth;
}


